<form action="/users/signup" method="POST">
    <label>
        First Name
        <input type="text" name="first_name" placeholder="Fred" />
    </label>
    <label>
        Last Name
        <input type="text" name="last_name" placeholder="Flinstone" />
    </label>
    <label>
        Email Addresss
        <input type="text" name="email" placeholder="you@email.com" />
    </label>
    <label>
        Password
        <input type="password" name="password" placeholder="Your Password" />
    </label>
    <button type="submit" class="button is-primary">SIGN UP</button>
</form>